:root {
  --md-primary-fg-color:        #56877c;
  --md-primary-fg-color--light: #aacfb9;
  --md-primary-fg-color--dark:  #24443a;
  --md-accent-fg-color:        #56877c;
  --md-accent-fg-color--light: #aacfb9;
  --md-accent-fg-color--dark:  #24443a;
}

.download-section {
  text-align: center;
}

.md-button--cta {
  color: white !important;
  background-color: #D66853 !important;
  border-color: #D66853 !important;
}

.md-button--cta:hover {
  background-color: #C84126 !important;
  border-color: #C84126 !important;
}

.caption {
  font-size: 0.7em;
  font-weight: normal;
}